<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koleychik.service">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestAIDL">
        <activity android:name=".ServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".CalculatorService"
            android:exported="true"
            android:process=":remote"
            android:permission="com.koleychik.aidl.REMOTE_CONNECTION">
            <intent-filter>
                <action android:name="com.koleychik.aidl.REMOTE_CONNECTION" />
            </intent-filter>
        </service>
    </application>

</manifest>